amqp==2.5.1
billiard==3.6.1.0
celery==4.4.0rc3
certifi==2019.6.16
chardet==3.0.4
Django==2.2.5
django-annoying==0.10.3
djangorestframework==3.11.2
idna==2.8
importlib-metadata==0.23
Jinja2==2.10.1
kombu==4.6.4
MarkupSafe==1.1.1
more-itertools==7.2.0
PyConfigure==0.5.9
PyStaticConfiguration==0.10.4
pytz==2019.2
PyYAML==3.12
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
structlog==19.1.0
urllib3==1.25.3
ussd-airflow==0.0.5
vine==1.3.0
wincertstore==0.2
zipp==0.6.0
